[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paramiko = ">=2"
configargparse = ">=0.14"
jinja2 = ">=2"
ruamel-yaml = ">=0.16"
yamale = ">=2"
yamlable = ">=1.0"
tqdm = ">=4.42"
pytz = ">=2019"

[dev-packages]
pylint = ">=2"
pylint-quotes = ">=0.2"
autopep8 = ">=1"
rope = ">=0.14"
pytest = ">=5.2"
pytest-mock = ">=1.11"
Faker = ">=2.0"

[requires]
python_version = "3.7"
