# Recuperar VM com segurança
# Pelo ID gera dependência cíclica e, só pelo name, pode gerar conflito
# O SCVMM permite mais de uma VM com o mesmo name!
$VM = $null
$custom_agrupamento = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_agrupamento }}"
$custom_nome_id = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_id }}"
$cloud = Get-SCCloud -VMMServer "{{ servidor_vmm }}" -Name "{{ cloud }}"
$vms_nuvem = Get-SCVirtualMachine -VMMServer "{{ servidor_vmm }}" -Cloud $cloud

foreach($vm_obj in $vms_nuvem) {
  $group = Get-SCCustomPropertyValue -InputObject $vm_obj -CustomProperty $custom_agrupamento
  if ($group.Value -eq "{{ group }}") {
    $nome_id = Get-SCCustomPropertyValue -InputObject $vm_obj -CustomProperty $custom_nome_id

    # Recuperando VM correta
    if ("{{ nome_vm }}" -eq $nome_id.Value){
        $VM = $vm_obj
    }
  }
}

$BusNumber = 0
$BusType = "{{ bus_type }}"

# Definindo próximo LUN livre
$RangeLun = 0..1000
$LunsOcupados = @()
$LunsOcupados += $VM.VirtualDiskDrives | Where  {$_.BusType -eq $BusType -and $_.Bus -eq $BusNumber} | Select -ExpandProperty Lun
$LunsOcupados += $VM.VirtualDVDDrives | Where  {$_.BusType -eq $BusType -and $_.Bus -eq $BusNumber} | Select -ExpandProperty Lun
$LunsOcupados = $LunsOcupados | Sort Lun
$LunLivre = $RangeLun | Where-Object {$LunsOcupados -notcontains $_} | select -First 1

# Criando disco
New-SCVirtualDiskDrive -VMMServer "{{ servidor_vmm }}" -VM $VM -{{ bus_type }} -Bus $BusNumber -LUN $LunLivre -VirtualHardDiskSizeMB {{ size_mb }} -{{ size_type }} -Filename "{{ file }}" -VolumeType None {{ '-Path "' + path + '"' if path else '' }} -JobVariable "job" -RunAsynchronously | Out-Null

$Resultado = [PSCustomObject]@{
    Status = 'OK'
    Guid = $job.ID
}
ConvertTo-Json -Depth 3 $Resultado
