$VM = Get-SCVirtualMachine -VMMServer "{{ servidor_vmm }}" -ID "{{ id_vm }}"
$Drive = $VM | Get-SCVirtualDiskDrive | where {$_.ID -eq "{{ id_drive }}"}

$TamanhoGB = {{ tamanho_mb }}/1024
Expand-SCVirtualDiskDrive -VirtualDiskDrive $Drive -VirtualHardDiskSizeGB $TamanhoGB | Out-Null

$Resultado = [PSCustomObject]@{
    Status = 'OK'
}
ConvertTo-Json -Depth 3 $Resultado
