$custom_agrupamento = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_agrupamento }}"
$custom_nome_id = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_id }}"
$custom_imagem = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_imagem }}"
$custom_regiao = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_regiao }}"
$custom_rede_principal = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_rede_principal }}"
$cloud = Get-SCCloud -VMMServer "{{ servidor_vmm }}" -Name "{{ cloud }}"
$vms_nuvem = Get-SCVirtualMachine -VMMServer "{{ servidor_vmm }}" -Cloud $cloud
$vms_agrupamento = @()

foreach($vm in $vms_nuvem) {
  $group = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_agrupamento
  if ($group.Value -eq "{{ group }}") {
    $nome_id = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_nome_id

    {% if filtro_nome_vm %}
  # Filtrando por name: otimização
  if ($nome_id.Value -ne "{{ filtro_nome_vm }}"){Continue}
    {% endif %}
    
    $image = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_imagem
    $region = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_regiao
    $network_default = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_rede_principal

    $networks = @()
    foreach($interface in $vm.VirtualNetworkAdapters) {
      $network = [PSCustomObject]@{
        Nome = $interface.VMNetwork.Name
        IPS = $interface.IPv4Addresses
        Principal = $interface.VMNetwork.Name -eq $network_default.Value
      }
      $networks += $network
    }

    $vm_agrupamento = [PSCustomObject]@{
      ID = $vm.ID
      Nome = if ($nome_id.Value -ne $null) { $nome_id.Value } else { $vm.ID } 
      Descricao = $vm.Description
      Status = $vm.Status
      NoRegiao = $vm.VMHost.Name
      QtdeCpu = $vm.CPUCount
      QtdeRam = $vm.Memory
      Redes = $networks
      Imagem = $image.Value
      Regiao = $region.Value
      VirtualizacaoAninhada = $vm.EnabledNestedVirtualization
      MemoriaDinamica = $vm.DynamicMemoryEnabled
    }
    $vms_agrupamento += $vm_agrupamento
  }
}

ConvertTo-Json -Depth 3 $vms_agrupamento