$cloud = Get-SCCloud -VMMServer "{{ servidor_vmm }}" -Name "{{ cloud }}"
if (!$cloud ) {
  Write-Host "Nuvem (Cloud) '{{ cloud }}' não encontrada."
}

{% for image in imagens %}
$image = Get-SCVMTemplate -VMMServer "{{ servidor_vmm }}" | Where {$_.Name -eq "{{ image }}"}
if (!$image ) {
  Write-Host "Imagem (Template) '{{ image }}' não encontrada."
}
{% endfor %}

$qtde_minima_regioes = {{ qtde_minima_regioes }}
$qtde_regioes = (Get-SCVMHost -VMMServer "{{ servidor_vmm }}" | Where-Object {$_.OverallState -in "OK","NeedsAttention"} | Measure-Object).Count
if ($qtde_minima_regioes -gt $qtde_regioes) {
  Write-Host "Número de regiões incompatível. Disponíveis: $qtde_regioes. Quantidade necessária: $qtde_minima_regioes."
}

{% for network in networks %}
$network = Get-SCVMNetwork -VMMServer "{{ servidor_vmm }}" -Name "{{ network }}"
if (!$network ) {
  Write-Host "Rede '{{ network }}' não encontrada."
}
{% endfor %} 

if ($cloud ) {
  $custom_agrupamento = Get-SCCustomProperty -VMMServer "{{ servidor_vmm }}" -Name "{{ campo_agrupamento }}"
  $vms_nuvem = Get-SCVirtualMachine -VMMServer "{{ servidor_vmm }}" -Cloud $cloud
  $nomes_vm_desejados = @({{ lista_nome_vms_str }})
  foreach($vm in $vms_nuvem) {
    $group = Get-SCCustomPropertyValue -InputObject $vm -CustomProperty $custom_agrupamento
    if ($group.Value -ne "{{ group }}" -and $nomes_vm_desejados -Contains $vm.Name) {
      Write-Output "O name '$vm' já está sendo usado por uma VM na cloud '$cloud'. Por favor, escolha outro name."
    }
  }
}
